@font-face {
	font-family: "Gothic";
	src: url("../fonts/GOTHIC_0.TTF") format("truetype");
}
@font-face {
	font-family: "GothicB";
	src: url("../fonts/GOTHICB.TTF") format("truetype");
}
body {
	font: 12px/1.2 "Gothic", sans-serif;
	color: #231f20;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	border-color: #231f20;
}
a {
	color: #1d1d1b;
	transition: .3s;
}
a:hover {
	opacity: .8;
	text-decoration: none;
	color: inherit;
}
.header {
	border-bottom: 1px solid #231f20;
}
.header-top_block {
	font-size: .75em;
	margin-bottom: 40px;
	padding-top: 5px;
}
@media (max-width: 575px) {
	.header-top_block-sm_wide {order: 3;}
}
.logo {
	transition: .3s;
	display: inline-block;
}
.logo:hover {
	opacity: .8;
	text-decoration: none;
}
.header .nav-link {
	padding: 1.5rem 1rem;
	position: relative;
}
.header .nav-link:hover:after, .header .nav-link.active:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background: #231f20;
	bottom: 0px;
	left: 0;
}
.page-slide {
	position: relative;
	overflow: hidden;
}
.page-slide-gallery {
	margin-bottom: 0;
}
.page-slide-gallery-nav {
	margin: 4rem 0 0;
}
.page-slide-gallery-nav .slick-slide {
	padding: 0 1rem;
}
.page-slide-gallery-nav .slick-slide img {
	opacity: .3;
}
.page-slide-gallery-nav .slick-slide figure {
	border: 1px solid #fff;
}
.page-slide-gallery-nav .slick-current figure {
	border-color: #6D6E70;
}
.page-slide figure {
	margin: 0;
}
.page-slide .figure-img {
	margin: 0;
}
.page-slide-gallery .figure-caption {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 120px 0 0;
	color: #000;
}
.slick-dots {
	position: absolute;
	list-style: none;
	text-align: center;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
}
.slick-dots li {
	display: inline-block;
	margin: 5px;
}
.slick-dots li:first-child {
	display: block;
}
.slick-dots button {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto;
	text-indent: -999999px;
	background: #656666;
	border: 0;
	cursor: pointer;
	outline: none;
}
.slick-active button {
	background: #fff;
}
.footer {
	border-top: 1px solid #231f20;
	padding-top: 2rem;
	position: relative;
}
.footer-bottom_block {
	margin-top: 3rem;
}
.footer-bottom_block .logo {
	margin-bottom: .5rem;
}
.totop {
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.footer-info a,
.footer-info span {
	font-size: 1.9em;
}
.footer-col-social .list-inline-item {
	margin: 0
}
.footer-col-social_link,
.portfolio-social_link {
	width: 20px;
	height: 20px;
	background: url(../img/social-sprite.svg);
	background-size: 78px 22px;
	display: block;
}
.footer-col-social_link-twit,
.portfolio-social_link-twit {
	background-position: -20px 0;
}
.footer-col-social_link-pin,
.portfolio-social_link-pin {
	background-position: -40px 0;
}
.footer-col-social_link-inst,
.portfolio-social_link-inst {
	background-position: -60px 0;
}
.btn {
	font-size: 1em;
	padding: .5rem 2rem;
}
.page-content-row_btns a.btn {
	margin: .2rem 0;
	padding: 0 .5rem;
}
.footer-row_1 p {
	margin-bottom: 40px;
}
.footer-row_2 p {
	margin-bottom: 52px;
}
.footer-row_2 ul a {
	padding: .5em 0;
	display: inline-block;
}
.page-slide h1 {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 1.75rem;
}
.main > div {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.page-header-0 {
	font-size: 2.9em;
	font-family: "GothicB";
}
.page-header {
	font-size: 1.95em;
	margin-bottom: 2.5rem
}
.page-header-2 {
	font-size: 1.67em;
	margin-bottom: 3.5rem;
}
.page-header-2 a {
	font-size: 1.75em;
	color: #000;
	display: inline-block;
	margin-top: 1rem;
}
.page-header-3 {
	font-size: 1.6em;
}
.page-content {
	font-size: 1.5em;
}
.page-content_grid [class*="col-"] {
	margin: 1rem 0;
}
.page-content a {
	text-decoration: underline;
}
.page-content_bordered-right {
	border-right: 1px solid #231f20;
}
.page-content_btns {
	margin: 2rem 0 0;
}
.content-dark {
	background: #e9e9e9;
	padding: 4rem 0;
}
.content-dark img {
	box-shadow: 5px 5px 10px 0 #B3B2B3;
}
.content-page_info {
	padding: 1rem;
}
.content-page_info .btn {
	margin-left: 2rem;
}
label {margin-bottom: 1rem}
.star {color: red;}
.form-control {
	border-radius: 1rem;
	border-color: #231f20;
	outline: none;
}
.modal-form {
	max-width: 700px;
	margin: 0 auto;
}
.modal p {
	font-size: 1.25rem;
	margin-bottom: 2rem;
}
.modal label {
	font-size: 1.25rem;
	margin-bottom: 2rem;
}
.modal .form-group {
	margin-bottom: 2rem;
}
.btn-red {
	background: #E41D24;
	color: #fff;
}
.modal .btn {
	border-radius: 1em;
}
.figure-hover {
	overflow: hidden;
	position: relative;
	height: 0;
	display: block;
	width: 100%;
	padding-bottom: 145%;
	margin-bottom: 2rem;
}
.figure-hover img {
	transition: transform .2s ease-in-out;
	width: 100%;
}
.figure-hover img:hover {
	transform: scale(1.1);
}
.figure-hover .figure-caption {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	color: #231f20;
	padding: 0 1rem;
}

.filter fieldset {
	margin: 2rem 0;
}
.filter legend {
	font-size: 1.15em;
	margin-bottom: 1rem;
}
.filter .form-check {
	font-size: 1.15em;
	line-height: 1.7;
	margin: .5em 0;
}
.pagination {margin: 0;}
.pagination .list-inline-item:not(:last-child) {margin-right: 1.5rem;}
.page-link, .page-link:hover {
	border: 0;
	border-radius: 0 !important;
	padding: .25rem .5rem;
	color: #231f20;
	background: transparent;
}
.pagination-nums .page-link {
	border: 1px solid #231f20;
}
.page-item.active .page-link,
.pagination-nums .page-link:hover {
	background: #231f20;
	color: #fff;
	border-color: #231f20;
}
.portfolio-preview {
	padding-right: 2rem;
}
.portfolio-preview figure {
	margin-bottom: 3rem;
}
.portfolio-preview hr {
	width: 10%;
	margin-top: 3rem;
	margin-right: 0;
}
.page-menu {
	border-top: 1.83pt solid #B7B8B8;
	border-bottom: 1.83px solid #B7B8B8;
	margin-top: 4rem;
}
.page-menu_items {z-index: 2;}

.page-menu_img figure,
.service-img figure {
	margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.variant figure,
.service-variant_img figure {
	margin: 0 0 2rem;
	height: 0;
	padding-bottom: 60%;
	overflow: hidden;
	position: relative;
}
.page-menu_xs figure {
	margin: 0;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}
.page-menu_img .figure-img,
.service-img .figure-img,
.variant .figure-img,
.page-menu_xs .figure-img,
.service-variant_img .figure-img {
	margin: 0;
	max-width: none;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    position: absolute;
	transform: translateX(-50%);
	transition: transform .2s ease-in-out;
}
.page-menu_img img:hover,
.service-img img:hover,
.variant img:hover,
.page-menu_xs img:hover,
.service-variant_img img:hover {
	transform: translateX(-50%) scale(1.1);
}
.page-menu_xs figcaption {
	position: absolute;
	bottom: 1rem;
	left: .5rem;
	right: .5rem;
	border: 1px solid #231f20;
	color: #231f20;
	padding: .5rem;
	margin: auto;
}
.page-menu_items:first-child {
	border-right: 1.83px solid #B7B8B8;
}
.page-menu_items:last-child {
	border-left: 1.83px solid #B7B8B8;
}
div.page-menu_item[class*=col-] {
	padding: 2rem 0;
}
.page-menu_item:not(:last-child) {
	border-bottom: 1.83px solid #B7B8B8;
}
.page-menu_item-num {
	font-size: 5.7em;
	color: #B3B2B3;
}
.page-menu_item-name {
	font-size: 1.39em;
	color: #B3B2B3;
}
.active .page-menu_item-name,
.active .page-menu_item-num,
.page-menu_item:hover .page-menu_item-name {
	color: #231f20;
}
.page-menu_item.active:before {
	content: "";
	position: absolute;
    top: 50%;
	margin: -11px -1px 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.page-menu_item.active:after {
	content: "";
	position: absolute;
    top: 50%;
	margin: -8.5px -1px 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.page-menu_items:first-child .page-menu_item.active:before {
	left: 100%;
    border-left: 16px solid #B7B8B8;
}
.page-menu_items:first-child .page-menu_item.active:after {
	left: 100%;
    border-left: 13px solid #fff;
}
.page-menu_items:last-child .page-menu_item.active:before {
	right: 100%;
    border-right: 16px solid #B7B8B8;
}
.page-menu_items:last-child .page-menu_item.active:after {
	right: 100%;
    border-right: 13px solid #fff;
}

.service-content[class*=col-] {
	padding: 2rem;
	height: 300px;
}
.service-content .page-header,
.variant .page-header,
.service-variant .page-header {
	margin-bottom: 0.5rem;
}
.btn-yellow {
	background: #ED9300;
	color: #fff;
	padding: .5rem 3rem;
}
.service-btn {
	margin-top: 2rem;
}
.service-variant {
	margin: 2rem 0;
}
.variant {
	margin-top: 3rem;
}
.variant hr,
.service-variant hr {
	width: 20%;
	margin-left:0;
	margin-bottom: 1rem;
}
.variant hr {
	margin-bottom: 5rem;
}

@media (max-width: 992px) {
	.footer {text-align: center}
	.footer-row_2 {order: 1;}
	.footer-row_1 {order: 2;}
	.footer-bottom_block {margin-top: 1rem;}

	.page-content-row_btns [class*="col-"] {
		padding: 0 4rem;
	}

	.page-slide ul:not(.page-slide-gallery-nav) figure,
	.page-slide > figure {
		height: 0;
		padding-bottom: 50%;
		overflow: hidden;
		display: block;
	}
	.page-slide ul:not(.page-slide-gallery-nav) .figure-img,
	.page-slide > figure .figure-img {
		height: 100%;
		max-width: none;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%)
	}
	.page-content-info > span {
		display: block;
		margin: 1rem 0;
	}

	.pagination {
		margin-top: 1rem;
	}
}
@media (max-width: 768px) {
	.service-img figure {
		padding-bottom: 50%;
	}
	.service-content[class*=col-] {
		height: auto;
		padding: 1rem 0;
	}
	.service-btn {
		margin-top: 1rem;
	}
}
@media (max-width: 575px) {
	.header .nav {margin: 0 -15px;}
	.header .nav-link {
		padding: 1.5rem .5rem;
		font-size: .75em;
	}
	/*.page-header {
		font-size: 1.25em;
	}*/
	.page-content-row_btns [class*="col-"] {
		padding: 0 15px;
	}
	.page-content_bordered-right {
		border: 0;
		margin-bottom: 2rem;
	}

	.footer-info {
		font-size: .45rem;
	}

	.page-slide ul:not(.page-slide-gallery-nav) figure,
	.page-slide > figure {
		padding-bottom: 100%;
	}

	.page-content-info span {
		display: block;
		margin: 1rem 0;
	}

	.page-content_btns-container .col {
		margin: 1rem 0;
	}
	.page-header-2 {
		margin-bottom: 2.5rem;
	}

	.page-slide-gallery-nav {
		margin: 2rem 0 0;
	}
	.main > div {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.portfolio-preview figure {
		margin-bottom: 1rem;
	}

	.modal p {
		margin-bottom: 1rem;
	}
	.modal label {
		margin-bottom: 1rem;
	}
	.modal .form-group {
		margin-bottom: 1rem;
	}
}